
/* Use Ubuntu font instead of the default Railway font */
/* body {
    margin: 2rem;
    font-size: 2rem;
} */


.book .book-body .page-wrapper .page-inner {
    max-width: 60%;
}


.gitbook-link {
    display: none !important;
}
